<div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 sl_hero_display list_display">
  <div class="sl_item_title">
    <h2>My Lists</h2>          
  </div>
  <div class="row sl_item_row">            
    {% for dict_item in data %}

    <div class="panel panel-success">       
      <div class="panel-heading">
        <h3 class="panel-title">{{ dict_item['title'] }}</h3>
      </div>
      <div class="panel-body"> {{ dict_item['description'] }} </div>
      <div class="panel-footer" style="margin-bottom: .3em"> 
        <div class="btn-group" role="group" aria-label="Basic example">
          <a href="/edit-list/{{ dict_item['list_id'] }}">
            <button type="button" class="btn btn-success">Edit</button>
          </a>
          <a href="/add-item/{{ dict_item['list_id'] }}"> 
            <button type="button" class="btn btn-warning">Add Items</button>
          </a>
          <a href="/delete-list/{{ dict_item['list_id'] }}">
            <button type="button" class="btn btn-danger">Delete</button>
          </a>
        </div>      
      </div>                                 
    </div>      
    {% endfor %}
  </div>
</div>