<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ShoppingList: Keep track of your shopping</title>
  <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}
  " rel="stylesheet">
  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body>
  <style>
    .sl_hero_content .flash_message{
      background-color: #238f42;
      font-size: 120%;
      color: #fff;
      font-family: cursive;
      font-weight: 600;
      border-radius: .6em;
      margin: 0 25%;
      box-shadow: 3px 1px 14px #ffffff;
    }
  </style>
  <section class="sl_hero">
    <nav class="navbar navbar-default sl_header">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard">
            <img src="{{url_for('static', filename='images/sl_logo.png')}}">
          </a>
        </div>
        <div class="collapse navbar-collapse sl_collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            {% if session['logged_in'] == True %}
            <li>
              <a href="/logout">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                Logout
              </a>
            </li>
            {% else %}
            <li>
              <a href="/login">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                Login
              </a>
            </li>
            <li>
              <a href="/">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                Signup
              </a>
            </li>
            {% endif %}                      
          </ul>
        </div>
      </div>
    </nav>  
    <div class="container-fluid sl_hero_content">
      <!-- Child templates -->
      <span class="flash_message">
        {% for message in get_flashed_messages() %}
        &nbsp&nbsp&nbsp{{ message }}&nbsp&nbsp&nbsp
        {% endfor %}
      </span>
      {% block content %}{% endblock %}
    </div>
  </section>
  <section class="sl_footer">
    <div class="container-fluid">
      <div class="col-sm-9">&copy 2017 ShoppingList</div>
      <div class="col-sm-3">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="https://jeanabayo.github.io">Jean Abayo</a></div>
    </div>
  </section>
  <script
  src="{{url_for('static', filename='js/jquery.min.js')}}">
</script>
<script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}">
</script>
</body>
</html>
