{% extends "base.html" %}
{% block content %}
<div class="row">
  <h3 style="color:#fff">
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
  </h3>      
  <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 sl_hero_control">
  {% if to_load == 'new-item' %}
  {% include 'includes/add_item.html' %}
  {% elif to_load == 'add-item' %}
  {% include 'forms/new_item_form.html' %}
  {% else %}
    {% include 'forms/new_list_form.html' %}
  {% endif %}
  </div>
   {% include 'includes/sidebar.html' %}
</div>
{% endblock %}