<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ShoppingList: Keep track of your shopping</title>
  <link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}
" rel="stylesheet">
  <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body>
  <section class="sl_hero">
    <nav class="navbar navbar-default sl_header">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="../static/images/sl_logo.png" alt="Shopping List Logo"></a>
        </div>
        <div class="collapse navbar-collapse sl_collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">          
            <li>
              <a href="/explore">
                <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                Explore
              </a>
            </li>          
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/logout">
                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                Logout
              </a>
            </li>          
          </ul>
        </div>
      </div>
    </nav> 
    <div class="container-fluid sl_hero_content">
      <div class="row">
      <h3 style="color:#fff">
        {% for message in get_flashed_messages() %}
          {{ message }}
        {% endfor %}
      </h3>      
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 sl_hero_control">
         <div class="row">
          <h1>
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              Add a new List
            </h1>
         </div>
         <div class="row new_list">
           {% include 'forms/new_list_form.html' %}
         </div>
       </div>
       <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 sl_hero_display">
        <div class="sl_item_title">
          <h2>All Lists</h2>          
        </div>
        <div class="row sl_item_row" style="background-color: beige">            
            {% for dict_item in data %}
              {% for key, value in dict_item.items() %}
                {% if key == "title" or key == "description" or key == "created_on" %}            
                  <div class="panel panel-success">                    
                      {% if key == "title" %}
                      <div class="panel-heading" style="margin: 0">
                        <h3 class="panel-title">{{value}}</h3>
                      </div>
                      {% endif %}                    
                      {% if key == "description" %}
                        <div class="panel-body"> {{value}} </div>
                      {% endif %}
                      {% if key == "created_on" %}
                        <div class="panel-footer">{{value}}</div>                        
                      {% endif %}                                      
                  </div>
                  {% endif %} 
              {% endfor %}
            {% endfor %}
          </div>
      </div>
    </div>
  </div>
</section>
<section class="sl_footer">
  <div class="container-fluid">
    <div class="col-sm-9">&copy 2017 ShoppingList</div>
    <div class="col-sm-3">Made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> by <a href="https://jeanabayo.github.io">Jean Abayo</a></div>
  </div>
</section>
<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">    
</script>
<script
  src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}">
</script>
</body>
</html>